#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.opensdf
*.unsuccessfulbuild
ipch/
obj/
Debug/
Release/
MS/
MS_new/
MS_new_new/
figures/
stars_tab_delimited.txt
*.bib
StellarModelling_report_*
*.xlsx
*.pdf
*.zip
[Bb]in
Ankh.NoLoad